.popup.alert {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.popup.alert .text {
  text-align: center;
  font-size: 24px;
  padding: 50px 20px 0 20px;
}
.popup.alert .ok {
  font-size: 32px;
  padding: 4px 8px;
  width: 100px;
  position: absolute;
  bottom: 42px;
  left: 50%;
  margin-left: -50px;
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
}
.popup.confirm {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.popup.confirm .text {
  text-align: center;
  font-size: 20px;
  padding: 50px 20px 0 20px;
}
.popup.confirm .bottom {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  bottom: 42px;
  font-size: 32px;
  width: 280px;
  height: 50px;
}
.popup.confirm .bottom .yes,
.popup.confirm .bottom .no {
  position: absolute;
  padding: 4px 8px;
  width: 100px;
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
}
.popup.confirm .bottom .yes {
  left: 0;
}
.popup.confirm .bottom .no {
  right: 0;
}
