.info-container {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  padding: 0 3%;
  width: 94%;
  text-transform: uppercase;
}
.info-container .artist {
  color: #006600;
}
.info-container .album {
  font-size: 22px;
}
.info-container .playlist {
  font-size: 18px;
}
.cover {
  /*
    border: 1px solid #cccccc;
    max-width:90%;
    padding:4px;
    */
  display: none;
}
.buttons {
  background-color: rgba(0, 0, 0, 0.7);
  clear: left;
  overflow: hidden;
  padding: 2px 3px;
  width: 100%;
  box-sizing: border-box;
}
.buttons .button {
  position: relative;
  background-color: rgba(0, 128, 0, 0.2);
  border: 2px solid white;
  color: white;
  float: left;
  padding: 4px 16px;
  margin: 2px 6px;
  font-size: 24px;
  width: 19px;
  max-width: 19px;
}
.buttons .button[data-state="b"] {
  background-color: rgba(128, 128, 0, 0.85);
}
.buttons .button[data-state="c"] {
  background-color: rgba(128, 0, 0, 0.85);
}
.play-progress {
  position: absolute;
  left: 0;
  top: 500px;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.play-progress {
  opacity: 0.7;
}
.play-progress .barra-meter {
  height: 30px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid black;
}
.play-progress .barra-w,
.play-progress .barra-b {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  font-size: 18px;
  text-overflow: clip;
  white-space: nowrap;
  line-height: 30px;
}
.play-progress .barra-w .bleft,
.play-progress .barra-b .bleft {
  position: absolute;
  top: 0;
  left: 8px;
}
.play-progress .barra-w .bright,
.play-progress .barra-b .bright {
  position: absolute;
  top: 0;
  right: 8px;
}
.play-progress .barra-w .bmiddle,
.play-progress .barra-b .bmiddle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}
.play-progress .barra-w {
  color: white;
  background-color: black;
  z-index: 2;
}
.play-progress .barra-b {
  background-color: white;
  color: black;
}
.select-playlist-div {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  width: 98%;
  text-align: center;
}
.select-playlist-div .all-none {
  text-align: right;
  font-family: arial;
  font-size: 12px;
}
.select-playlist-div .all-none a {
  margin-right: 12px;
}
.select-playlist-div .pl-buttons {
  overflow: hidden;
}
.select-playlist-div .pl-buttons button {
  padding: 18px;
  margin: 0 5%;
  font-size: 20px;
  width: 35%;
  float: left;
}
.select-playlist-div .pl-container {
  padding: 24px 24px 48px 24px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.select-playlist-div .pl-container .item {
  padding: 3px;
  float: left;
  border: 1px solid gray;
  margin: 2px;
  font-size: 15px;
  color: #002000;
  background-color: rgba(190, 190, 190, 0.7);
  overflow: hidden;
  height: 16px;
}
.select-playlist-div .pl-container .item.selected {
  border: 1px solid black;
  background-color: rgba(255, 255, 230, 0.7);
  color: #c00000;
  font-weight: bold;
}
.delete-track-div {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  width: 98%;
  text-align: center;
}
.delete-track-div .pl-buttons {
  overflow: hidden;
}
.delete-track-div .pl-buttons button {
  padding: 18px;
  margin: 0 5%;
  font-size: 20px;
  width: 35%;
  float: left;
}
.delete-track-div .pl-container {
  padding: 24px 24px 48px 24px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.delete-track-div .pl-container .item {
  padding: 3px;
  float: left;
  border: 1px solid gray;
  margin: 2px;
  font-size: 15px;
  color: #002000;
  background-color: rgba(190, 190, 190, 0.7);
  overflow: hidden;
  height: 16px;
}
.delete-track-div .pl-container .item.selected {
  border: 1px solid black;
  background-color: rgba(255, 255, 230, 0.7);
  color: #c00000;
  font-weight: bold;
}
.show-status {
  background-color: rgba(255, 255, 0, 0.35);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  height: 30px;
  vertical-align: middle;
}
.statusled {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 4px;
  border-radius: 6px;
  font-size: 8px;
}
.hidden {
  display: none;
}
